<!DOCTYPE html>
<html>
  <head>
    <title>Message</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/navbar" %>
    <div class="text-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>


    <%= yield %>
<footer class="footer">
  <div class="text-center"> Made by <%= link_to "Ali Alizada", "http://ali-alizada.com" %></div>
</footer>
  </body>
</html>
